.result-container {
  background: rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 8px 32px 0 rgba(88, 52, 114, 0.76) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(134, 134, 134, 0.18) !important;
  border-radius: 20px;

  width: 97vw;
  max-width: 800px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
}
.seed-wrap {
  /* background-color: rgba(0, 0, 0, 0.3); */
  border-radius: 20px;
}
.seed-img {
  background-color: rgba(0, 0, 0, 0.562);
  border: none;
  height: 200px;
  width: 200px;
  -webkit-box-shadow: 0px 0px 16px 6px rgba(88, 52, 114, 0.4);
  -moz-box-shadow: 0px 0px 16px 6px rgba(88, 52, 114, 0.4);
  box-shadow: 0px 0px 16px 6px rgba(88, 52, 114, 0.4);
  border-radius: 10px;
}
.seed-button {
  border-radius: 100px 100px 100px 100px !important;
  width: 190px !important;
  padding: 13px 18px !important;
}
.seed-title {
  font-weight: 900 !important;
  letter-spacing: -0.03em !important;
}
.seed-subtitle {
  font-weight: 500 !important;
  letter-spacing: -0.03em !important;
  font-size: 20px;
}
.track-wrap {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(90, 90, 90, 0.18) !important;
  border-radius: 5px;
}
.track-img {
  /* width: 8vmax;
  height: 8vmax;
  max-width: 100px;
  max-height: 100px;
  min-width: 50px;
  min-height: 50px; */
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
.track-info-title {
  font-weight: 500 !important;
  font-size: 15px;
}
.track-info-artist {
  font-weight: 400 !important;
  font-size: 12px;
  margin-bottom: auto !important;
}
.track-player-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}
.track-player-icon {
  height: 17px;
}
.save-info-wrap {
  background: rgba(255, 255, 255, 0.15) !important;
  border: 1px solid white !important;
  border-radius: 20px;
}
.playlist-name-input {
  border-radius: 100px 100px 100px 100px !important;
  height: 45px !important;
  padding-right: calc(1.5em + 0.75rem);
}
.artist-wrap {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(90, 90, 90, 0.18) !important;
  border-radius: 10px;
}
.artist-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.artist-name {
  font-size: 17px;
  font-weight: 700;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.genre-wrap {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(90, 90, 90, 0.18) !important;
  border-radius: 50px 50px;
}
